.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #cccccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #ffffff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

body {
    padding-top: 70px;
}

.carousel-caption {
    color: #555;
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

.list-group {
    margin-bottom: 0;
}

.dropdown-menu > li > a {
    padding: 3px 10px;
}

a.list-group-item:hover, a.list-group-item:focus {
    background-color: #428bca;
    color: #FFF;
}

.panel-body {
    padding: 10px;
}

.jumbotron p {
    line-height: 1.2;
    text-indent: 15px;
}

.container .jumbotron {
    padding-right: 20px;
    padding-left: 20px;
}

.jumbotron {
    padding-top: 24px;
    padding-bottom: 24px;
}

@media print {
    body {
        padding-top: 0px;
    }

    .panel-primary, .panel-heading {
        border: none;
    }

    .table {
        font-size: 75%;
    }

    a[href]:after {
        content: "";
    }

    abbr[title]:after {
        content: "";
    }
}